.main {
    background-color: #0f3a65;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.download{
    color: white;
}
@keyframes infiniteScroll {
0%{
        transform: translateX(0)
    }

  50% {
        transform: translateX(-300%)
    }
    100%{
        transform: translateY(0);
    }
}

.container {
    width: 100%;
    overflow-x: hidden;
}

.horizontal-scrolling-items {
    display: flex;
    font-size: 40px;
    width: 260px;
    animation-name: infiniteScroll;
    animation-duration: 12s;
    
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.horizontal-scrolling-items__item {
    white-space: nowrap;
}


